.welcome{font-family: monospace; text-align: center;text-shadow: 10px 10px 8px #888888; }
.container{width: 500px;
    height: 500px;
    display:flex; 
    flex-wrap:wrap ;
    justify-content: center;
    align-items:center
    
}

.background{background-color: bisque;
    display:flex; 
    flex-wrap:wrap ;
    flex-direction: column;
    justify-content: center;
    align-items: center}
.box{
    width: 150px;
    height: 150px;
    background-color: teal;
    margin: 1px ;
    border-radius: 10px;
    border-width:10px ; border-color: teal; border-style: solid;
    transition: all;
    transition-delay: 0.5s;
    box-shadow: 10px 10px 8px #888888;
    margin-right: 5px;
    margin-left: 5px;
    
}
.box:hover{border-color:turquoise ;transition-delay: 0.5s;}
.row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
}
.row2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
}
.row3{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.box:selcet{border-color: red;}